div {
  box-sizing: border-box;
}
body {
  background: #52616B;
  margin: 0px;
}
header {
  background-image: url('../img/i4\ 1.png');
  background-repeat: no-repeat;
  height: 647px;
  width: 1438px;
}
.box1 {
  display: flex;
  height: 83px;
}
.logo1 {
  width: 50px;
  height: 50px;
  margin:  17px 0px 0px 101px;
  display: inline-block;
 }
.menu {
  display: inline-block;
  margin:  0px 0px 0px 320px;
}
.list {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #C9D6DF;
  list-style-type: none;
}
.box1 ul {
  padding: 0;
  margin-top: 30px;
  
}
.select {
  margin: 0px 60px 0px 0px;
  display: inline;
}
.list_enter {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #C9D6DF;
  list-style-type: none;
  margin: 0px 0 0px 137;
  }

.list2 li {
  margin: 0px 30px 0px 0px;
  display: inline;
}
.list_enter ul {
  padding:  0px 30px 0px 0px;
}


.line {
 border-bottom: 1px solid #C9D6DF;
 width: 1253px;
 margin: 0 auto;
 margin-top: 0px;
}
a {
  color: #C9D6DF;
  text-decoration: none;
}
/* -------------------------------------- */
.box2 {
  

}
.bmv1 {
  background-image: url('../img/the\ 8\ 1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1195px;
  height: 500px;
  margin: 129px 123px 0px 122px;
}
.title1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  color: #C9D6DF;
  list-style-type: none;  
  width: 363px;
  top: 793px;
  left: 212px;
  margin: 19px 0px 0px 88px;
}
span {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #C9D6DF;
  list-style-type: none;
}
/* ---------------------------------------------- */
.bmv2 {
  background-image: url('../img/the\ x7\ 2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 590px;
  height: 341px;
  margin: 17px 0px 0px 122px;
  display: inline-block;
  
}
.title2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  color: #C9D6DF;
  list-style-type: none;  
  width: 363px;
  top: 793px;
  left: 212px;
  margin: 12px 0px 0px 26px;
}
/* ---------------------------------------------- */
.bmv3 {
  background-image: url('../img/the\ 5\ 1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 590px;
  height: 341px;
  display: inline-block;
  margin: 0px 0px 0px 11px;
}
.title3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  color: #C9D6DF;
  list-style-type: none;  
  width: 363px;
  top: 793px;
  left: 212px;
  margin: 12px 0px 0px 26px;
}
/* ---------------------------------------------- */
.box3 {
  background-image: url('../img/bmw\ of\ dream\ 1.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1440px;
  height: 648px;
  margin: 97px 0px 0px 0px;
}
.text_box3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  color: #C9D6DF;
  list-style-type: none;
  text-align: center;
  top: 21px;
}
.botton {
  background-color: #1E2022;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #C9D6DF;
  margin: 487px 557px 38px 556px;
  width: 327;
  height: 65;
  border-radius: 10px;
  text-align: center;
  padding: 18px 73px;
}
/* ---------------------------------------------- */
.box4 {
  display: flex;
  background-image: url('../img/213.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1440px;
  height: 629;
  margin: 97px 0px 0px 0px;
  
}
.logo2 {
  width: 90px;
  height: 90px;
  margin: 25px 0px 0px 25px;
  
}
.logo_text {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 600;
  color: #C9D6DF;
  list-style-type: none;
  margin: 28px 0px 0px 26px;
  width: 279px;
} 
/* ---------------------------------------------- */

.footer{
  width: 1440px;
	height: 378px;
	background-color: #1E2022;
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.footer_box{
  display: inline-block;
  margin: 52px 0px 0px 90px;
}
.footer p{
	font-size: 16px;
	color: #F0F5F9;
  line-height: 22px;
}
.footer_box a{
	text-decoration: none;
	font-size: 1rem;
	color: #C9D6DF;
  line-height: 22px;
}
.footer li{
	list-style-type: none;
}

.footer ul{
	margin-left: 0;
	padding-left: 0;
  vertical-align: top;
}

.footer_box, .footer_box_social{
	display: inline-block;
	vertical-align: top;
	margin: 3.25rem 0 0 6.25rem;
}

.footer_social div{
	display: inline-block;
	margin-right: 1rem;
}           