body {
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    /* color: #202846;
    background-color: #F5F5F5; */
}
.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;    
    background-color: #202846;
    align-items: center;
    padding: 10px 30px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__link{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    border-right: 1px solid #fff;
    padding: 1px 10px;
    font-weight: 700;
    overflow-wrap: wrap;
}
.header__link:last-child {
    border-right: none;
}
.nav_logo {
    padding: 1px 10px;
}
.box {
    height: 139px;
    width: 100%;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    background-color: #C6C6DC;
    color: #202846;
}
.box_text {
    text-decoration: none;
    position: relative;
    top:25%;
    left: 227px;
}
/* ------------------------------------------------ */
.card {
    background-color: #BDBDC6;
    height: 498px;
    width: 1318px;
    margin: 0 auto;
    margin-top: 41px;
    display: flex;
}
.bs {
    margin: 77px 0px 0px 167px;
}
.avatar {
    height: 184px;
    width: 196px;
}
.botton {
    background-color: #69749B;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    color: white;
    border: 1px solid #69749B;
    display: block;
    height: 50px;
    width: 202px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    margin-top: 22px;
}
.menu{
    font-size: 36px;
    font-weight: bolder;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    color: #353C57;
    margin: 46px 0px 0px 168px;
} 
.menu span {
    font-weight:400px;
    font-style: italic;
    font-family: 'PT Sans', sans-serif;
}
/* не работает жирность шрифта на спанах */
p {
    border-bottom: 2px solid white;;
    width: 712px;
}
#no_line{
    border: none;
}
.knopka {
    position: relative;
    top: 43px;
    margin: 0 auto;
    width: 100px;
}
.knopka1 {
    background-color: #202846;
    font-family: 'PT Sans', sans-serif;
    font-size: 27px;
    color: white;
    border: 1px solid #69749B;
    display: block;
    height: 50px;
    width: 202px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
}
