body {
    background-color: #FFB084 ;
}
section {
    display: grid;
    grid-template-columns: 250px 400px;
    grid-template-rows: 250px 300px
}
section div {
    width: 250px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px 15px;

}
.card_1 {

}