html {
    font-size: 10px;
    --color-y:#FFB742;
}

body {
    background-color: #212529; 
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}
.header nav {
    width: 25%;
}
.header .header_navigation {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;

}
.header_navigation li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s;
}
.header_navigation li a:hover{
    color: var(--color-y);
}

.header a.header_btm {
    color: #212529;
    background-color: var(--color-y);
    padding: 1.2rem 2.6rem;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.5s;
}
.header a.header_btm:hover {
    color: white;
}
.box_1 {
    margin-top: 116px;
    color: white;
    text-align: center;
    width: 100%;
}
.box_1 a {
    padding: 0;
    margin: 0;
}
.box_text1 {
    font-size: 3.2rem;
    font-weight: 700;
}
.box_text1 a {
    color:#FFB742;
}
.box_text2 {
    font-size: 4.8rem;
    font-weight: 700;
    margin-top: 0px;
}
.box_text3 {
    margin-top: 50px;
    font-size: 2.4rem;
    margin-top: 2.5rem;
}
/* ------------------------------------------ */
.card_box {
    margin-top: 137px;
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    width: 100%;
    border: 3px solid rgba(56, 62, 69, 0.44);
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    width: 416px;
    height: 120px;
    margin: 0px 12px;
}
.img_logo {
    width: 64px;
    height: 64px;
    padding: 28px 30px;
}
.img_logo {
    margin: 0;
}
.card p {
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 159px;
    height: 70px;
    padding: 10px 50px 0px 40px;
    text-align: center;
    line-height: 1.5;

}
.card:hover {
    background-color: #FFB742;
    transition: all 0.5s;
}
.card p:hover {
    color: rgb(0, 0, 0);
}
.card span {
    font-size: 24px;
    color: #FFB742;
}
.card span:hover {
    color: black;
}
/* 5 и текст не подсвечиваются не разоюбрался куда их пихать что бы работало */

.box_2 {
    display: inline-flex;
    width: 100%;
    height: 65rem;
    margin-top: 22rem;
}
.box_2_man{    
    padding-top: 3.4rem;
    margin-left: 20rem;
}
.box_2_man .foto{
    width: 100%;
}
.box_2-who{
    width: 14.8rem;
    height: 4.2rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(41, 43, 46, 1);
    border-radius: 5rem;
    color: var(--color-y);
    display: inline-block;
    box-sizing: border-box;
    padding: 1.1rem 2.5rem;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 8.2rem;
}
.box_2-about {
    font-weight: 700;
    font-size: 4.8rem;
    color: #FFFFFF;
    margin-left: 9.2rem;
}
.box_2-text {
    font-size: 1.6rem;
    font-weight: 400;
    color: #D4D4D4;
    margin-left: 9.2rem;
    margin-top: 2.9rem;
    max-width: 67.2rem;
    line-height: 3rem;
}
.box_2_btn{
    color: #212529;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--color-y);
    padding: 1.2rem 2.6rem;
    border-radius: 5rem;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 9.2rem;
    margin-top: 5.45rem;
}
.box_2_info a.box_2_btn:hover{
    color: #FFFFFF;
    transition: all 0.5s;
}
/* ________________________________________________ */

.box_3 {
    margin-top: 18px;
    margin-left: 20rem;
    display: flex

}
.img_logo2 {
    width: 40%;
    margin-left: 10%;
}
.img_punk {
    height: 8rem;
    width: 8rem;
    /* border: 1px solid; */
    box-sizing: border-box;
    background-color:  #383E45;
    padding: 15px;
    margin: 8px;
    border-radius: 10px;
}   
.img_punk:hover {
    background-color: #FFB742;
    transition: all 0.5s;
}
/* ________________________________________________ */

.box_4 {
    text-align: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}
.box_3-who{
    width: 14.8rem;
    height: 4.2rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(41, 43, 46, 1);
    border-radius: 5rem;
    color: var(--color-y);
    display: inline-block;
    box-sizing: border-box;
    padding: 1.1rem 2.5rem;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 8.2rem;
}
.box_3-about {
    font-weight: 700;
    font-size: 4.8rem;
    color: #FFFFFF;
    margin-left: 9.2rem;
}
.box_4_navigation  {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    margin: 35px auto;
}
.box_4_navigation a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    width: 100%;
    height: 100%;
}
.
.box_4_navigation a:hover {
    transition: all 0.5s;
    color: #FFB742;
}
/* ________________________________________________ */
.box_5 {
    justify-content: center;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin-left: 135px;
}
/* пришлось добавть марджин лефт выше потому что блоки не хотели становится по центру */
.img_card {
    margin: 18px 18px;
}
/* ________________________________________________ */
.box_6 {
    text-align: center;
    margin-top: 137px;
}
.box_6-who{
    width: 20.8rem;
    height: 4.2rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(41, 43, 46, 1);
    border-radius: 5rem;
    color: var(--color-y);
    display: inline-block;
    box-sizing: border-box;
    padding: 1.1rem 2.5rem;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 8.2rem;
}
/* ________________________________________________ */
.box_lost {
    justify-content: center;
    display: flex;
   
}
.cardy {
    margin: 0px 20px;
    margin-top: 91px;
}
/* ________________________________________________ */
.footer{
    margin-top: 254px;
	display: flex;
    height: 400px;
	padding: 14.8rem 5rem 0;
	justify-content: space-between;
	background-color: #1C1C1C;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 1.35rem;
	color: #F5FBF2;
	line-height: 2.25rem;
}
.footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#name{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: var(--color-y);
}
#profession{
	font-weight: 600;
	font-size: 1rem;
	color: #D4D4D4;
}
.footer>ul>li:nth-child(1){
	margin-bottom: 1rem;
	white-space: nowrap;
}
.footer a{
	text-decoration: none;
	font-weight: 500;
	font-size: 1.125rem;
	color: #7B7B7B;
}
.footer a:hover{
	color: var(--color-y);
	transition: all 400ms;
}
.footer ul:nth-child(1){
	width: 18%;
}
.footer ul:nth-child(2), .footer ul:nth-child(3){
	width: 10%;
}
.footer ul:nth-child(4){
	width: 22%;
}
