body {
    margin: 0 auto;
}
header {
    width: 100%;
    border: 1px solid black;
    background-color: black;
    display: inline-flex;
    box-sizing: border-box;
    height: 131px;
    position: sticky;
    top: 0;
    z-index: 1;
  
}
.meny {
    display: inline-flex;
    color: white;
    list-style-type: none;
    margin-left: 25%;
    
}
.meny a{
    font-size: 36px;
    font-weight: 700px;
    color: white;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    text-decoration: none;
}
.meny li {
    position: relative;
    margin: 3% 4%;
}
/* ----------------------------------------- */
.content_container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
}
.content__center__img__boxes {
    width: 53%;
    margin: 7.1rem 2.5rem;
    display: flex;
}
.content__center__img__boxes img {
    width: 46.7rem;
}
/* ----------------------------------------- */ 
.content__center__container__up {
    margin-right: 1.8rem;
}
  
.content__center__container__up,
.content__center__container__dawn {
    width: 47.5rem;
}
  
.content__center__container__up img,
.content__center__container__dawn img {
    width: 100%;
}
/* ----------------------------------------- */ 
.content__center__container__up img:first-child,
.content__center__container__dawn img:first-child {
    margin-bottom: 2.2rem;
}
  
.content__center__container__up img:first-child {
    animation: GalleryCenterLeft 1s linear 1;
    position: relative;
}
  
.content__center__container__up img:nth-child(2) {
    animation: GalleryCenterLeft1 1.5s linear 1;
    position: relative;
}
  
.content__center__container__dawn img:first-child {
    animation: GalleryCenterRight 1s linear 1;
    position: relative;
}
  
.content__center__container__dawn img:nth-child(2) {
    animation: GalleryCenterRight1 1.5s linear 1;
    position: relative;
}
@keyframes GalleryCenterLeft  {
    from {
      transform: translateY(-300%) 
  
    }
  
    to {
      transform: translateX(0);
    }
}
 @keyframes GalleryCenterLeft1  {
    from {
        transform: translateY(300%) 
  
    }
  
    to {
      transform: translateX(0);
    }
}
@keyframes GalleryCenterRight  {
    from {
        transform: translateY(-300%) 
  
    }
  
    to {
      transform: translateX(0);
    }
}
@keyframes GalleryCenterRight1  {
    from {
      transform: translateY(300%) 
  
    }
  
    to {
      transform: translateX(0);
    }
} 
/* ----------------------------------------- */ 
.content__left__img,
.content__right__img {
  position: relative;
  width: 37rem;
}

.content__left__img img,
.content__right__img img {
  width: 100%;
}

.content__left__img {
  animation: GalleryLeftImage 1.7s linear 1;
}

.content__right__img {
  animation: GalleryRightImage 1.7s linear 1;
}


@keyframes GalleryLeftImage {
  from {
    transform: translateX(-300%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes GalleryRightImage {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0);
  }
}
/* ----------------------------------------- */ 





  
  