body {
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    color: #202846;
    background-color: #F5F5F5;
}
.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;    
    background-color: #202846;
    align-items: center;
    padding: 10px 30px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__link{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    border-right: 1px solid #fff;
    padding: 1px 10px;
    font-weight: 700;
    overflow-wrap: wrap;
}
.header__link:last-child {
    border-right: none;
}
.nav_logo {
    padding: 1px 10px;
}
.box {
    height: 139px;
    width: 100%;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    background-color: #C6C6DC;
    color: #202846;
}
.box_text {
    text-decoration: none;
    position: relative;
    top:25%;
    left: 227px;
    
}
.box2_1 {
    margin: 0 auto;
    margin-top: 56px;
    height: 73px;
    width: 1489px;
    font-size: 28px;
    font-weight: 400;
    background-color: #E8E8E8;
}
.box2_1_text {
    top:18px;
    text-decoration: none;
    position: relative;
    text-align: center;
    
}
.search-image{
    height: 7.3rem;
    width: 85%;
    margin: 0 auto;
    margin-top: 5.6rem;
    background: #E8E8E8;
}
.search-icon{
    position: relative;
    width: 3.4rem;
    height: 3.3rem;
    left: 95%;
    top: 35%;
}
.icon-style-hover:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 1s;
}
.text2-position-style{
    width: 100%;
}
.text2-position-style p{
    text-align: center;
    font-weight: 400;
    font-size: 2.8rem;
    color: #0000009C;
    margin-top: -1.3rem;
}
/*Поисковое окно*/
/* Основа брони*/
.background-fon1{
    height: 30.0rem;
    background: #BDBDC6;
    margin: 0 auto;
    width: 85%;
    margin-top: 5.6rem;
    display: flex;
}
.background-fon1:hover{
    background-color: #AEAEE2;
    transform: scale(1.1);
    transition: 500ms;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}
.star-icon{
    position: relative;
    width: 4.6rem;
    height: 4.6rem;
    left: 94.5%;
    top: 5%;
}
.star-icon svg path:hover{
    fill: yellow;
    transition: 300ms;
    cursor: pointer;
}
.box1{
    align-self: center;
    width: 30%;
    margin-right: 5%;
}
.box1:hover{
    cursor: zoom-in;
    transform: scale(1.1);
    transition: 500ms;
    opacity: 0.50;
}
.image-style{
   width: 100%;
}
.box2{
    width: 60%;
    margin-top: 0.8%;
}
.text3-position-style{
    width: 100%;
    font-weight: 700;
    font-size: 3.6rem;
    font-style: italic;
    color: #353C57;
    border-bottom: 0.2rem solid white;
}
.text4-position-style{
    text-align: center;
    word-break: break-all;
    font-weight: 400;
    font-size: 2.2rem;
    background: #D7D7DD;
    color: #202846;
    margin-top: -3.0rem;
    padding: 4.8% 7%;
}
.btn-position{
    position: relative;
    width: 6%;
    top: 80%;
    right: 4%;
}
.navigation_btn{
    text-decoration: none;
    font-weight: 400;
    font-size: 2.4rem;
    color: #FFFFFF;
    width: 100%;
    background-color: #202846;
    border-radius: 5rem;
    padding: 15% 40%;
}
.navigation_btn:hover{
    background-color: #EF075B;
    transition: 500ms;
}
.text4-1-position-style{
    text-align: center;
    word-break: break-all;
    color: #202846;
    font-weight: 400;
    font-size: 2.2rem;
    background: #D7D7DD;
    margin-top: -3.0rem;
    padding: 3.5% 7%;
}
