body {
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    /* color: #202846;
    background-color: #F5F5F5; */
}
.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;    
    background-color: #202846;
    align-items: center;
    padding: 10px 30px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__link{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    border-right: 1px solid #fff;
    padding: 1px 10px;
    font-weight: 700;
    overflow-wrap: wrap;
}
.header__link:last-child {
    border-right: none;
}
.nav_logo {
    padding: 1px 10px;
}
.box {
    height: 139px;
    width: 100%;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    background-color: #C6C6DC;
    color: #202846;
}
.box_text {
    text-decoration: none;
    position: relative;
    top:25%;
    left: 227px;
}
/* ----------------------------------------- */
.section__three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68.2rem;
    background-color: #F5F5F5;
    line-height: 3.88rem;
}

.section__three-box1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 24rem;
    align-items: top;
    margin-top: 6.3rem;
    font-family: pt sans;
    font-size: 3rem;
    font-weight: 400;
    color: #000000;
}

#top{
    border-bottom: 0.3rem solid #202846;
}

.section__three-box1-work ul{
    text-align: center;
    list-style: none;
    margin-left: -3rem;
}

.section__three-box2{
    display: flex;     
    width: 100%;
    height: 100%;    
    margin-top: 5.2rem;
    font-family: 'PT Sans', sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

.section__three-box2-adress{
    width:60%;
    margin-left: 12rem;
}

#map{
    width: 57.73rem;
    height: 33.5rem;
    border-radius: 0.9rem;
    
}

.section__three-box2-map{
    width: 90%;
    height: 100%;
    margin-left: 136px
}

.footer{
    width: 100%;
    height: 90px;
    background-color: #202846;   
}

.footer__text{
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #EEECF1;
    font-style: italic;
    padding-top: 2.1rem;
    margin-left: 6rem;
}
