html {
    color: #354657;
    font-family: 'Raleway', sans-serif;
}
h1 {
    margin: 14px 0px 0px 25px;
}
.line {
    border: 1px solid #E2E2E2;
    margin: 18px 25px 27px;
}
.box {
    
    width: 100%;
    margin: 0px 25px 0px 28px;
}
.card {
    width: 32%;
    display: inline-block;
    padding: 0.2rem;
}
.card-img {
    width: 100%;
    
}
   
.card-title {
    font-size: 24px;
    font-weight: 700px;
    margin: 17px 0px;
    
}
.card_text {
    font-size: 16px;
    font-weight: 400px;
    margin: 15px 10px 58px 0px;
    word-break: break-all;
    
}
.botton {
    max-width: 206px;
    max-height: 56px;
    width: 50%;
    background-color: #354657;
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
    text-decoration: none;
}

.box2 {

}
.conteiner {
    display: inline-block;
}
.img_all {
    margin: 65px 36px 0px 60px;
}
.text {
    margin: 10px 36px 0px 75px;
}
.box3 {
    margin: 34px 303px 0px 71px;
}
.img_block {
    width: 32%;
    margin: 6px 0px 0px 0px;
}