.header {

}
.menu {
    margin: 82px 0px 0px 0px;
    
}
ul {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #076F32;
    list-style-type: none;
    
}
li {
    display: inline;
    margin: 82px 50px 0px 0px;
}
.line {
    border-bottom: 1px solid #076F32;

}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: normal;
    margin: 196px 0px 0px 0px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 21px 0px 0px px;
}
.conteiner {

}
.box {
    width: 20%;
    float: left;
    /* width: 237px; */
    /* height: 173px; */
    /* margin: 0px 5px 0px 5px */
}
.box:nth-child(3) {
    margin-left: -13px;
}

.imge {
  width: 100%;
   
}
.title {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700px;
    color: rgb(255, 255, 255);
    margin: -328px 0px 0px 0px;
    position: relative;
    
    
}
.text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: red;
    /* padding: 55px 23px; */
    /* word-break: normal; */
    width: 80%;
}

.footer {
    text-align: left;
    font-weight: normal;
    margin: 1200px 0px 0px 10px;
    font-size: 12px;
    
}   
.ul_ {
    
    

}
.ul_ li{    
    font-size: 12px;
    /* line-height: 10px; */
    color: black;
    margin: 0px 7px 0px 7px
    

}