body {
    margin: 0 auto;
}
header {
    width: 100%;
    border: 1px solid black;
    background-color: black;
    display: inline-flex;
    box-sizing: border-box;
    height: 131px;
    position: sticky;
    top: 0;
    z-index: 1;
  
}
.meny {
    display: inline-flex;
    color: white;
    list-style-type: none;
    margin-left: 25%;
    
}
.meny a{
    font-size: 36px;
    font-weight: 700px;
    color: white;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    text-decoration: none;
}
.meny li {
    position: relative;
    margin: 3% 4%;
}
/* --------------------------------------------- */
.box {
    display: inline-flex;
    justify-content: center;
}
.box_left {
    width: 50%;
    display: ;
}
.box_text {
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-size: 64px;
    font-weight: 700px;
    width: 95%;
    text-align: center;
}
.send__box {
    width: 95%;
    background-color: rgba(229, 229, 229, 1);
    padding: 3%;
  }
  
  .send__box p {
    display: inline;
  }
  
  .send__box p input {
    height: 5.5rem;
    font-size: 3.6rem;
    font-weight: 700;
    padding-left: 2%;
    margin-bottom: 2rem;
  }
  
  .send__box p:first-child {
    margin-right: 4%;
  }
  
  .send__box p input[type="text"] {
    margin: 0px px 0px 0px;
    width: 48%;
  }
  
  .send__box p input[type="email"] {
    width: 42%;
  }
  
  .send__box textarea {
    width: 100%;
    height: 80%;
    font-size: 3.6rem;
    font-weight: 500;
    padding: 2rem;
    box-sizing: border-box;
  }
  

.map {
    margin: 6.4rem 3rem;
    width: 626px;
    height: 570px;
}
/* --------------------------------------------- */
nav {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-size: 30px;
    list-style: none;
    color:  black;
    text-align: center;
    
}
nav li a {
    text-decoration: none;
    color: black;
    margin: 95px 120px 0px 0px ;
}
/* я тут почему то не понял цвет меняется, а жирность нет */
span {
    font-weight: 900;
}
.Instagram {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/pngwing\ 1.png')
    
}
.Facebook {
    background-repeat: no-repeat;
    background-image: url('../img/pngwing\ 2.png')
    
}
.Twitter {
    background-repeat: no-repeat;
    background-image: url('../img/pngwing\ 3.png')
}
.Instagram, .Facebook, .Twitter{
 

}
