body {
    margin: 0 auto;
}
header {
    width: 100%;
    border: 1px solid black;
    background-color: black;
    display: inline-flex;
    box-sizing: border-box;
    height: 131px;
    position: sticky;
    top: 0;
    z-index: 1;
  
}
.meny {
    display: inline-flex;
    color: white;
    list-style-type: none;
    margin-left: 25%;
    
}
.meny a{
    font-size: 36px;
    font-weight: 700px;
    color: white;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    text-decoration: none;
}
.meny li {
    position: relative;
    margin: 3% 4%;
}
.nadpis p{
    width: 100%;
    font-size: 96px;
    font-weight: 700px;
    font-family: 'Rosario', sans-serif;
    text-align: center;
    margin-top: 1%;
}
/* -------------------------------------- */
.box_1 {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.img_team:hover {
    opacity: 1;
    filter: none;
}
.card__team {
  width: 28rem;
  border-radius: 2rem;
  text-align: center;
  transition: all .5s;
  filter: brightness(0.7);
  position: relative;
  margin: 0.5rem;
}

.card__team p {
  border-radius: 0 0 2rem 2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 15.4rem;
  background-color: rgba(163, 83, 10, 0.7);
  opacity: 0;
  transition: all .5s;
  font-size: 4.8rem;
  font-weight: 400;
  color: #FFFAFA;
  padding-top: 5.5rem;
  box-sizing: border-box;
  margin: 0;

}
.card__team img {
  width: 100%;
  height: 100%;
}

.card__team:hover p,
.card__team:hover {
  opacity: 1;
  filter: none;
}
.meredith  img{
    animation: meredith 1.8s linear 1;
    position: relative;
}
@keyframes meredith  {
    from {
      transform: translateX(-300%) 
  
    }
  
    to {
      transform: translateX();
    }
}
.jason  img{
    animation: jason 1.5s linear 1;
    position: relative;
}
@keyframes jason  {
    from {
      transform: translateX(-300%) 
  
    }
  
    to {
      transform: translateX(0);
    }
}
.ryan  img{
    animation: ryan 1.5s linear 1;
    position: relative;
}
@keyframes ryan  {
    from {
      transform: translateX(300%) 
  
    }
  
    to {
      transform: translateX(0);
    }
}
.jame  img{
    animation: jame 1.8s linear 1;
    position: relative;
}
@keyframes jame  {
    from {
      transform: translateX(300%) 
  
    }
  
    to {
      transform: translateX(0);
    }
}





  
  
  
  