body {
    margin: 0 auto;
}
header {
    width: 100%;
    border: 1px solid black;
    background-color: black;
    display: inline-flex;
    box-sizing: border-box;
    height: 131px;
    position: sticky;
    top: 0;
    z-index: 1;
  
}
.meny {
    display: inline-flex;
    color: white;
    list-style-type: none;
    margin-left: 25%;
    
}
.meny a{
    font-size: 36px;
    font-weight: 700px;
    color: white;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    text-decoration: none;
}
.meny li {
    position: relative;
    margin: 3% 4%;
}
/* --------------------------------------- */

.box_1 {
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-size: 48px;
    width: 100%;
    display: inline-flex;
}
.box_up {
    width: 50%;
    margin: 2% 2%;
}
.box_down {
    width: 50%;
    margin: 2% 2%;
}
.box_1 p{
    margin: 12px 0px 54px 10px
}
.styling__anim {
    animation: ServiceStyling 5s linear infinite;
  }
  
 @keyframes ServiceStyling {
  
    from,
    to {
      transform: translate(0);
    }
  
    25% {
      transform: translateX(120%);
    }
  
    50% {
      transform: translate(121%, 110%);
  
    }
  
    75% {
      transform: translate(0, 110%);
    }
  } 
  .straightening__anim {
    animation: ServiceStraightening 5s linear infinite;
  
  }
  
@keyframes ServiceStraightening {

    from,
    to {
      transform: translate(0);
    }
  
    25% {
      transform: translateX(-125%);
    }
  
    50% {
      transform: translate(-125%, -115%);
    }
  
    75% {
      transform: translateY(-115%);
    }
  }

   .shave__anim {
    animation: ServiceTrimming 5s linear infinite;
  }
  
  @keyframes ServiceTrimming {
  
    from,
    to {
      transform: translate(0);
    }
  
    25% {
      transform: translateY(115%);
    }
  
    50% {
      transform: translate(-125%, 115%);
    }
  
    75% {
      transform: translate(-125%, 0);
    }
  
  } 
  .trimming__anim {
    animation: ServiceShave 5s linear infinite;
  }
  
  @keyframes ServiceShave {
  
    from,
    to {
      transform: translate(0);
    }
  
    25% {
      transform: translateY(-115%);
    }
  
    50% {
      transform: translate(123%, -115%);
    }
  
    75% {
      transform: translateX(123%);
    }
  
  }
  

