.header{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 48px;
  color: aqua;
  text-align: center;
}
.text{
  color: black;
}
.fon{
  background-image: url('../img/1.jpg');
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 852px;
  position: relative;
  margin-bottom: 60px;
}
.box {
  padding-left: 80px;
  padding-top: 218px;
}
.fon_text {
  background-image: url('/lessons 3/img/flag.png');
  background-repeat: no-repeat;
  height: 388px;
  padding-left: 59px;
  padding-top: 60px;
  font-size: 64px;
  color: white;
  font-weight: 700;
  font-family: 'Inter';
  white-space: nowrap;
  line-height: 1.6;
}
.title {
  max-width: 1440px;
  margin: 0 auto;
  

}
.line__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  border-bottom: 5px solid #33B8F1;
  width: 330px;
  margin-left: 61px;
  margin-bottom: 121px;
}
.box1 {
  max-width: 1440px;
  display: flex;
  height: 481px;
  margin: 0 auto;
}

.card {
  width: 408px;
  height: 481px;
  margin: 0 auto;
}

.card_title {
  font-size: 36px;
  font-weight: 700;
}
.card_text {
  font-size: 32px;
  font-weight: normal;
}
.heart_head {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 48px;
  
}
.line_title2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  border-bottom: 5px solid #33B8F1;
  width: 361px;
  margin: 0 auto;
}
.img_heart {
  text-align: center;
}

.but {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.button{
  border: 1px color black;
  background-color: #33ADF1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 48px;
  color: white;
  padding: 15px 35px;
  
}

.footer {
  text-align: center;
  width: 100%;
}

.footer_content {
  margin: 0 auto;
  background-color: #ffee00a6;
  max-width: 1440px;
  margin-top: 176px;
  padding-top: 50px;
  padding-bottom: 26px;

}

.text_footer {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #0BBBD3;
  text-align: center;
  font-size: 64px;
}

.text__foot {
  color: white;
}

.contacts {
  display: block;
  text-decoration: none;
  color: #353949;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  margin: 30px 50px;
}

.social__contacts {
  margin-top: 48px;
}

.social__contacts a {
  display: inline-block;
  width: 68px;
  height: 64px;
  margin: 0 27px;
  border-radius: 100px;
  background-color: #ffffff;
}

.twitter {
  background-image: url('/lessons 3/img/twitter--v1\ 1.png');
  background-repeat: no-repeat;
  background-position: 13px;
}

.telega {
  background-image: url('/lessons 3/img/artage-io-thumb-e93a7e18a8ece5e144c0e949eb147cf1\ 1.png');
  background-repeat: no-repeat;
  background-position: 5px;
}

.insta {
  background-image: url('/lessons 3/img/87390\ 1.png');
  background-repeat: no-repeat;
  background-position: 11px;
}

.fb {
  background-image: url('/lessons 3/img/59439\ 1.png');
  background-repeat: no-repeat;
  background-position: 10px;
}
