body {
    background-color: #E5E5E5;
    padding: 0% 20% 0% 20%;
    
}
.formich {
    width: 100%;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    display: inline-flex;
}
.box_left {
    width: 50%;
    
}

.box_right {
    width: 50%;
    margin-left: 31px;

}
.text_1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 64px 0px;
}
.text_2 {
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    margin: 79px 0px;
}
span {
    color: red;
}
.text_3 {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0px;
}
input, select {
  width: 100%;
  border: 1px solid rgba(173, 173, 173, 1);
  border-radius: 4px;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;

}
label {
    margin: 5px 0px 0px 8px;
}
/* здесь заметил что правый блок выше левого на 1 пк, почему и как исправить не понял */
#Application_Fee {
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    
}
.centry {
    display: inline-flex;
}
/* ---------------------------------------- */
.line_body {
    border-bottom: 1px solid #D1D1D1;
    margin-top: 27px;
}
.maternity_title {
    font-family: 'Public Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 32px 0px;
}
.centry1 {
    display: inline-flex;
}
.forms_2 {
    display: inline-flex;
    width: 100%;
}
.maternity_box_left {
    width: 50%;
}
.maternity_box_rigth {
    width: 50%;
}
.forms_2 p {
    margin: 0 auto;
}
#Application_Fee1 {
    height: 24px;
    width: 24px;
    box-sizing: border-box;
}
.line_body_1 {
    border-bottom: 1px solid #D1D1D1;
    margin-top: 27px;
}
/* ---------------------------------------- */
.search__image {
    background-image: url('../img/Group.jpg');
    background-repeat: no-repeat;
    left: 100px;
    background-position: 96%;
}

.footer {
    max-width: 100%;
    margin-top: 16px;
}
input[type="submit"] {
    background-color: #0050D8;
    border: none;
    border-radius: 10px;
    width: 7rem;
    height: 4rem;
    color: white;
    border-radius: 10px;
    transition: all .7s;
    font-weight: 700;
    cursor: pointer;
    float: right;
    font-size: 1.6rem
}
input[type="submit"]:hover {
    background-color: #0050D8;
    transform: scale(1.1);
}
  